
.app{
  overflow:auto; 

}

.mainCard{
  padding: 1em;
}

.container{
  margin-top: 10px;
  padding: 3em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
} 

.loading{
  margin-top: 0px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.linea{
  flex: 1;
  background-color: lemonchiffon;
}

.tipStyle{
  width: 100%;
  position: center;
  right: 0;
  top: 0;

}
