

.data{
    
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row{
  padding: 1em;
  margin-top: 10px;
}

.game{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.thumbnail{
width:250px;
height:190px;

}

.card{
    padding:1em;

}

.questionImage{
width:350px;
height:300px;
padding:1em;

}